<!DOCTYPE html>
<html>
<head>
    <title>问卷网-创建问卷</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/index.css">
    <script src="../../static/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/common.js"></script>


</head>
<body>

<nav class="top-bar">
    <div class="top-bar-logo">
        <a href="/teacher/index.html">
            <img class="top-bar-logo-img" src="../../static/teacher/img/logo_dog.jpg">
        </a>
    </div>
    <div class="head-nav ">
        <a href="/teacher/index.html">
            <img src="../../static/teacher/img/my.png">
            <span>我的问卷</span>
        </a>
        &nbsp;
        <a href="javascript:void(0)">
            <span>|</span>
        </a>
        &nbsp;
        <a>
            <img src="../../static/teacher/img/user.png">
            <span id="userInfo">userInfo</span>
        </a>
        &nbsp;
        <a>

            <img src="../../static/teacher/img/remind.png">
            <span>消息</span>
        </a>
        &nbsp;
        <a href="/teacher/login.html">
            <img src="../../static/teacher/img/out.png">
            <span>退出</span>
        </a>
    </div>
</nav>
<nav class="list-body">
    <div class="add-data-head">
        <div class="add-data-head-title">创建问卷</div>
    </div>
    <div class="add-data-body">
        <div class="add-data-contex" data-validate="名称不能为空">
            <span class="add-data-text">问卷名称：</span>
            <input class="add-data-input input100" id="title" autocomplete="off" />
        </div>
        <button class="add-data-submit">立即创建</button>
    </div>
</nav>

</body>
<script type="text/javascript">
    init();

    add();

    function init() {
        $(document).ready(function () {
            var userName=common.getCookie("teacherUserName");
            $('#userInfo').html(userName);
        });
    }

    function add() {
        var input=$('.add-data-input')
        $('.add-data-submit').on('click',function () {
            var title=$('#title').val();
            if(title==''){
                var thisAlert = $(input).parent();
                $(thisAlert).addClass('alert-validate');
                return;
            }else{
                var data={
                    title:title,
                    createId:common.getCookie("teacherUserId")
                }
                common.ajaxSend(
                    "/teacher/addTitle",
                    data,
                    function (e) {
                        if(e.code==1){
                            common.setCookie("questionnaireId",e.data,7);
                            window.location.href="/teacher/addInfo.html"
                        }else{
                            alert(e.msg);
                        }
                    },
                    function (e) {

                    }
                )
            }
        })
        $(input).focus(function () {
            $(this).parent().removeClass('alert-validate');
        })

    }




</script>
</html>
