<!DOCTYPE html>
<html>
<head>
    <title>问卷网-创建测评</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/teacher/css/addInfo.css">
    <script src="../../static/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/common.js"></script>

    <link rel="stylesheet" href="../../static/css/jquery-ui.min.css">
    <script src="//apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


</head>
<body>

<nav class="top-bar">
    <div class="top-bar-logo">
        <a href="/teacher/index.html">
            <img class="top-bar-logo-img" src="../../static/teacher/img/logo_dog.jpg">
        </a>
    </div>
    <div class="head-nav ">
        <a href="/teacher/index.html">
            <img src="../../static/teacher/img/my.png">
            <span>我的问卷</span>
        </a>
        &nbsp;
        <a href="javascript:void(0)">
            <span>|</span>
        </a>
        &nbsp;
        <a>
            <img src="../../static/teacher/img/user.png">
            <span id="userInfo">userInfo</span>
        </a>
        &nbsp;
        <a>

            <img src="../../static/teacher/img/remind.png">
            <span>消息</span>
        </a>
        &nbsp;
        <a href="/teacher/login.html">
            <img src="../../static/teacher/img/out.png">
            <span>退出</span>
        </a>
    </div>
</nav>
<nav class="add-body">
    <div class="add-head"></div>
    <div class="add-title">
        问卷标题：<input class="title-input" id="title" type="text"/>
        <button class="add-title-release">发布问卷</button>
    </div>
    <div class="add-context">
        <button class="add-title-button" id="opener">批量添加题目</button>
    </div>


</nav>

</body>
<script type="text/javascript">
    $(function () {
        var userName = common.getCookie("teacherUserName");
        var questionnaireId = common.getCookie("questionnaireId");

        var path = window.location.pathname;
        var judgePath = RegExp(/updateQuestionnaireById/);
        var data ='';
        if(judgePath.test(path)){
            data={
                questionnaireId: path.split("/")[3]
            }
        }else {
            data = {
                questionnaireId: questionnaireId
            }
        }
        $('#userInfo').html(userName);
        common.ajaxSend(
            "/teacher/selectQuestionnaireByKey",
            data,
            function (e) {
                if (e.code == 1) {

                    $('#title').val(e.data.questionnaireTitle)
                    if (judgePath.test(path)) {
                        selectQuestionnaireByKey(e.data);
                    }

                } else
                    window.location.href = '/teacher/index.html';
            }, function (e) {

            }
        );


        $('#opener').click(function () {
            $('.add-body').append('<div class="add-context-info">' +
                '        <h2 class="add-context-info-title">' +
                '            <input type="text" class="add-context-info-input add-context-info-input-t" placeholder="题目标题" autocomplete="off"/>' +
                '            <button class="add-context-info-close"></button>' +
                '        </h2>' +
                '        <ul>' +
                '            <li>' +
                '                <input class="add-context-info-input add-context-info-input-c" type="text" placeholder="选项一" autocomplete="off">' +
                '            </li>' +
                '            <li>' +
                '                <input class="add-context-info-input add-context-info-input-c" type="text" placeholder="选项二" autocomplete="off">' +
                '            </li>' +
                '            <li>' +
                '                <input class="add-context-info-input add-context-info-input-c" type="text" placeholder="选项三" autocomplete="off">' +
                '            </li>' +
                '            <li>' +
                '                <input class="add-context-info-input add-context-info-input-c" type="text" placeholder="选项四" autocomplete="off">' +
                '            </li>' +
                '        </ul>' +
                '    </div>')
        });

        $('.add-body').on('click', '.add-context-info-close', function () {
            var titleId = $(this).attr('data-title-id')
            var title = $(this).prev().val();
            var data = {
                titleId: titleId,
                title: title
            }
            if (titleId != undefined)
            // 根据id删除
                deleteContextByTitleId(data, $(this))
            else
                $(this).parent().parent().addClass('hide-mode')
        })

        $('.add-body').on('mouseenter', 'input', function () {
            $(this).addClass('over');
        })
        $('.add-body').on('mouseleave', 'input', function () {
            $(this).removeClass('over');
        })
        $('.add-body').on('focus', 'input', function () {
            $(this).addClass('focus');
        })
        $('.add-body').on('blur', 'input', function () {
            $(this).removeClass('focus')
        })

        $('.add-title-release').click(function () {
            update()
        })
    })


    function update() {


        var inputT = $('.add-context-info-input-t');
        var questionnaireId = common.getCookie("questionnaireId");
        var questionnaireTitle = $('#title').val();
        var titleId = "";
        var title = "";
        var context = "";

        for (var i = 0; i < inputT.length; i++) {
            title += $(inputT[i]).val() + ',';
            if($(inputT[i]).attr('data-title-id')!=undefined)
                titleId += $(inputT[i]).attr('data-title-id') + ',';
            var nodes = new Array();
            nodes = $(inputT[i]).parent().next().children().children('.add-context-info-input-c');
            for (var j = 0; j < nodes.length; j++) {
                context += $(nodes[j]).val() + ','
            }
        }

        title = title.replace(/[,，]$/, " ")
        context = context.replace(/[,，]$/, " ")
        titleId = titleId.replace(/[,，]$/, " ")



        var data = {
            questionnaireId: questionnaireId,
            questionnaireTitle:questionnaireTitle,
            title: title,
            context: context,
            titleId:titleId
        }
        common.ajaxSend(
            "/teacher/updateContext",
            data,
            function (e) {
                if (e.code == 1) {
                    window.history.go(-1)
                } else {
                    alert(e.msg)
                    $("#dialog").dialog("close");
                }
            },
            function (e) {

            }
        )

    }

    function selectQuestionnaireByKey(restData) {
        if (restData != null) {
            var titleLength = restData.questionnaireContextTitles.length;
            var contextLength = restData.questionnaireContexts.length;
            var index = 0;

            for (var i = 0; i < titleLength; i++) {
                var html = '';
                html += '<div class="add-context-info">' +
                    '        <h2 class="add-context-info-title">' +
                    '            <input type="text" class="add-context-info-input add-context-info-input-t" placeholder="题目标题" autocomplete="off" value="' + restData.questionnaireContextTitles[i].questionnaireTitle + '" data-title-id="' + restData.questionnaireContextTitles[i].id + '"/>' +
                    '            <button class="add-context-info-close" data-title-id="' + restData.questionnaireContextTitles[i].id + '"></button>' +
                    '        </h2>' +
                    '        <ul>';
                for (var j = 0; j < contextLength / titleLength; j++) {

                    html += '            <li>' +
                        '                <input class="add-context-info-input add-context-info-input-c" type="text" placeholder="选项' + j + '" autocomplete="off" value="' + restData.questionnaireContexts[index].context + '">' +
                        '            </li>';
                    index++;
                }
                html += '        </ul>' +
                    '    </div>';
                $('.add-body').append(html);


            }
            var b = $('.add-title-release')
            if (restData.questionnaireState == 1)
                $(b).html('修改')

        }
    }

    function deleteContextByTitleId(data, obj) {
        common.ajaxSend(
            '/teacher/deleteContextByTitleId',
            data,
            function (e) {
                if (e.code == 1)
                    obj.parent().parent().addClass('hide-mode');
                else
                    alert(e.msg);
            },
            function (e) {

            }
        )
    }


</script>
</html>
