<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.dao.QuestionnaireContextMapper">
    <resultMap id="BaseResultMap" type="com.questionnaire.entity.QuestionnaireContext">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="comtext_title" property="comtextTitle" jdbcType="VARCHAR"/>
        <result column="context" property="context" jdbcType="VARCHAR"/>
        <result column="questionnaire_id" property="questionnaireId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, comtext_title, context, questionnaire_id, state
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_questionnaire_context
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_questionnaire_context
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.questionnaire.entity.QuestionnaireContext">
    insert into t_questionnaire_context (id, comtext_title, context, 
      questionnaire_id, state)
    values (#{id,jdbcType=INTEGER}, #{comtextTitle,jdbcType=VARCHAR}, #{context,jdbcType=VARCHAR}, 
      #{questionnaireId,jdbcType=INTEGER}, #{state,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.questionnaire.entity.QuestionnaireContext">
        insert into t_questionnaire_context
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="comtextTitle != null">
                comtext_title,
            </if>
            <if test="context != null">
                context,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="comtextTitle != null">
                #{comtextTitle,jdbcType=VARCHAR},
            </if>
            <if test="context != null">
                #{context,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.questionnaire.entity.QuestionnaireContext">
        update t_questionnaire_context
        <set>
            <if test="comtextTitle != null">
                comtext_title = #{comtextTitle,jdbcType=VARCHAR},
            </if>
            <if test="context != null">
                context = #{context,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.questionnaire.entity.QuestionnaireContext">
        update t_questionnaire_context
        set comtext_title = #{comtextTitle,jdbcType=VARCHAR},
          context = #{context,jdbcType=VARCHAR},
          questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
          state = #{state,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
  </update>


    <!--自定义-->
    <select id="selectQuestionnaireContexts" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        t_questionnaire_context
        where questionnaire_id=#{questionnaireId,jdbcType=INTEGER}
    </select>
    <select id="selectCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select
        count(id)
        from
        t_questionnaire_context
        where questionnaire_id=#{questionnaireId,jdbcType=INTEGER} and state!=-1
    </select>
    <update id="updateByQuestionnaireId" parameterType="java.lang.Integer" >
    update t_questionnaire_context
    set
      state = -1
    where questionnaire_id = #{questionnaireId,jdbcType=INTEGER} and state!=-1
  </update>

</mapper>