<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.dao.QuestionnaireContextTitleMapper">
    <resultMap id="BaseResultMap" type="com.questionnaire.entity.QuestionnaireContextTitle">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="questionnaire_title" property="questionnaireTitle" jdbcType="VARCHAR"/>
        <result column="questionnaire_id" property="questionnaireId" jdbcType="INTEGER"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, questionnaire_title, questionnaire_id, state
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_questionnaire_context_title
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_questionnaire_context_title
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.questionnaire.entity.QuestionnaireContextTitle">
    insert into t_questionnaire_context_title (id, questionnaire_title, questionnaire_id, 
      state)
    values (#{id,jdbcType=INTEGER}, #{questionnaireTitle,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.questionnaire.entity.QuestionnaireContextTitle">
        insert into t_questionnaire_context_title
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="questionnaireTitle != null">
                questionnaire_title,
            </if>
            <if test="questionnaireId != null">
                questionnaire_id,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="questionnaireTitle != null">
                #{questionnaireTitle,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                #{questionnaireId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                #{state,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.questionnaire.entity.QuestionnaireContextTitle">
        update t_questionnaire_context_title
        <set>
            <if test="questionnaireTitle != null">
                questionnaire_title = #{questionnaireTitle,jdbcType=VARCHAR},
            </if>
            <if test="questionnaireId != null">
                questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.questionnaire.entity.QuestionnaireContextTitle">
    update t_questionnaire_context_title
    set questionnaire_title = #{questionnaireTitle,jdbcType=VARCHAR},
      questionnaire_id = #{questionnaireId,jdbcType=INTEGER},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--自定义-->
    <select id="selectByQuestionnaireContextKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_questionnaire_context_title
        where questionnaire_context_id = #{questionnaireContextId,jdbcType=INTEGER}
    </select>

    <select id="selectQuestionnaireContextTitles" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_questionnaire_context_title where questionnaire_id=#{questionnaireId,jdbcType=INTEGER} and state!=-1
    </select>


    <insert id="insertRest" parameterType="com.questionnaire.entity.QuestionnaireContextTitle" >
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_questionnaire_context_title (id, questionnaire_title, questionnaire_id,
        state)
        values (#{id,jdbcType=INTEGER}, #{questionnaireTitle,jdbcType=VARCHAR}, #{questionnaireId,jdbcType=INTEGER},
        #{state,jdbcType=INTEGER})
    </insert>

    <update id="updateByQuestionnaireId" parameterType="java.lang.Integer">
    update t_questionnaire_context_title
    set
      state = -1
    where questionnaire_id = #{questionnaireId,jdbcType=INTEGER} and state!=-1
  </update>

</mapper>